1. Write a program to print numbers from 1 to 10 using for a loop.

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Find the sum of first 10 natural numbers using a while loop.

In [2]:
sum = 0
i = 1

while i <= 10:
    sum += i
    i = i + 1

print(sum)

55

3. Take a number as input and print its multiplication table upto 10.

In [3]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(num, "x", i, "=", num * i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

4. Find the factorial of a number using a while loop.

In [4]:
num = int(input("Enter a number: "))
factorial = 1
i = 1

while i <= num:
    factorial = factorial * i
    i = i + 1

print(factorial)

120

5. Take an integer as input and reverse its digits (e.g. 123 -> 321).

In [5]:
num = int(input("Enter a number: "))
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num = num // 10

print("Reversed number is:", rev)

Reversed number is: 345

6. Print all even numbers between 1 and 50.

In [6]:
for i in range(1, 51):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

7. Take a number as input and find the sum of its digits.

In [7]:
num = int(input("Enter a number: "))
sum = 0

while num > 0:
    digit = num % 10
    sum = sum + digit
    num = num // 10

print("Sum of digits is:", sum)

Sum of digits is: 11

8. Print the first 10 terms of the fibonacci sequence.

In [8]:
a = 0
b = 1

print(a)
print(b)

for i in range(8):
    c = a + b
    print(c)
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

9. Write a program to check whether a number is positive, negative, or zero

In [1]:
num= int(input("enter the number:"))

if num > 0:
    print("The number is positive")
elif num <0:
    print("The number is negative") 
else:
    print("The number is zero")

The number is positive

10. Check if a person is eligible to vote.

In [3]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are eligible to vote.

11. Take a number as input and check if it is even or odd.

In [4]:
val= int(input("enter the value:"))

if val % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is odd

12. Take two numbers and print the greater one.

In [5]:
a=67
b=45

if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

a is greater than b

13. Write a program to check if a number is divisible by 5.

In [6]:
div= int(input("enter the number:") )
if div % 5 == 0:
    print("divisible by 5")
else:
    print("not divisible by 5")

divisible by 5

14. Take a student marks as input and print their grade.

In [8]:
marks= int(input("Enter your marks: ")) 
if marks >= 90:
    print("Grade A")
elif marks >= 80:
    print("Grade B")
elif marks >= 70:
    print("Grade C")

Grade C

15. Check whether a given year is leap year or not.

In [11]:
year= int(input("Enter a year: "))
if(year % 4==0 and year % 100 !=0) or (year %400==0):
    print("leap year")

16. Write a program to display whether a given number is single digit, double digit or more than two digits

In [12]:
num = int(input("Enter a number: "))
if num < 10:
    print ("The number is single digit")
elif num < 100:
    print("The number is double digit")
else:
    print("The number is more than two digits")

The number is double digit

17. Take input of a day number (1-7) and print the corresponding weekday using elif.

In [13]:
week= int(input("enter the week number:"))
if week == 1:
    print("Monday")
elif week == 2:
    print("Tuesday")
elif week == 3:
    print("Wednesday")  
elif week == 4:
    print("Thursday")
elif week == 5:
    print("Friday")
elif week == 6:
    print("Saturday")
elif week == 7:
    print("Sunday")
else:
    print("Invalid week number")

Friday

18. Take a temperature in celsius and print.

In [14]:
tem= int(input("enter the temperature:"))
if tem < 0:
    print("It's freezing")
elif tem <= 20:
    print("It's cold")
elif tem > 20 and tem <= 35:
    print("It's warm")
elif tem > 35:
    print("It's hot")

It's warm

19. check if a number is positive and even, positive and odd, negative.

In [15]:
num = int(input("Enter a number: "))
if num %2==0:
    print("The number is positive and even") 
elif num %2!=0:
    print("The number is positive and odd")
else:
    print("The number is zero")

The number is positive and even

20. Take a password as input if it is correct print "access", else "access denied".

In [17]:
input_password= input("Enter the password: ")
correct_password= "12345"

if input_password == correct_password:
    print("Access granted")     
else:
    print("Access denied")

Access denied

21. WAP to check if three sides form a valid triangle. (sum of any two sides > third side.)

In [18]:
a= int(input("Enter first number: "))
b= int(input("Enter second number: "))
c= int(input("Enter third number: "))

if a+b>c and a+c>b and b+c>a:
    print("The numbers can form a triangle")    
else:
    print("The numbers cannot form a triangle")

The numbers can form a triangle

22. Take input marks of three subjects. Check if the student has passed (all >= 35) or failed.

In [19]:
sub1= int(input("Enter marks for subject 1: "))
sub2= int(input("Enter marks for subject 2: "))
sub3= int(input("Enter marks for subject 3: "))

if (sub1 >= 40) and (sub2 >= 40) and (sub3 >= 40):
    print("The student has passed") 
else:
    print("The student has failed")

The student has passed

23. WAP to check if a character is vowel, constant or not an alphabet.

In [2]:
val= input("enter the value:")
if val in "aeiou":
    print("The character is a vowel")
else:
    print("The character is a consonant or not an alphabet")

The character is a consonant or not an alphabet

24. Create a set of five colors and print it.

In [31]:
color_set= {"Pink", "Yellow", "red", "green", "black"}
print(color_set)

{'red', 'green', 'Pink', 'black', 'Yellow'}

25. create a set of numbers with duplicate and check how python handles it.

In [6]:
set1= {1,3,4,6,7,42,1,3,6,8,89}
print("remove duplicates: ")
print(set1)

remove duplicates:
{1, 3, 4, 6, 7, 8, 42, 89}

26. WAP to loop through a set and print each element, use .add() to insert a new element, remove an element using .remove() and observe what happens if the element is not present, remove an element using .discard(), use .pop() to remove a random element from a set.

In [17]:
set2= {10,20,30,40,50}
# for item in set2:
#     print(item)

set2.add(56)
print(set2)

# set.remove(45)
set2.discard(30)
print(set2)
print(len(set2))

set2.pop()
print(set2)

{50, 56, 20, 40, 10, 30}
{50, 56, 20, 40, 10}
5
{56, 20, 40, 10}

27. Use .copy() to create a copy of a set and modify the copy,  use .clear() to empty a set.

In [20]:
val_original={"Ankita", "Sanchit", "Rohan"}
copied_val= val_original.copy()
print("Copied set:", copied_val)
print("Original set:", val_original)

Copied set: {'Sanchit', 'Ankita', 'Rohan'}
Original set: {'Sanchit', 'Ankita', 'Rohan'}

28. Create two sets and find their union, their intersection, their difference(A-B).

In [24]:
set_1= {1, 2, 3, 4, 5}
set_2= {4, 5, 6, 7, 8}

union= set_1.union(set_2)
print("Union:", union)

inter= set_1.intersection(set_2)
print("Intersection:", inter)

diff= set_1.difference(set_2)  
print("difference:", diff)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
difference: {1, 2, 3}

29. Convert a list with duplicates into a set to remove duplicates.

In [33]:
if 'set' in dir():
    del set

In [34]:
my_list= ["Ankita", "Aamin", "Sneha", "Ruchita", "Ankita", "Aamin"]
my_set = set(my_list)
print("Converted set:", my_set)

Converted set: {'Ruchita', 'Sneha', 'Aamin', 'Ankita'}

30. WAP to find all unique characters in a string using a set.

In [ ]:
text = "programming"

unique_chars = set(text)

print("Unique characters:", unique_chars)

Unique characters: {'i', 'p', 'm', 'n', 'g', 'a', 'r', 'o'}

31. Given two lists of students(cricket and football), find students who play both sports (intersection).

In [38]:
cricket_team = {"Ankita", "Sanchit", "Rohan", "Sneha", "Ruchita"}
football_team = {"Gita", "Sanchit", "Rohan", "nikhil", "proyan"}

both_sports = cricket_team.intersection(football_team)
print("Players in both sports:", both_sports)

Players in both sports: {'Sanchit', 'Rohan'}

32. Given two lists of students(cricket and football), find students who play only cricket (difference).

In [39]:
cricket_team = {"Ankita", "Sanchit", "Rohan", "Sneha", "Ruchita"}
football_team = {"Gita", "Sanchit", "Rohan", "nikhil", "proyan"}

only_cricket = cricket_team.difference(football_team)
print("Players in cricket only:", only_cricket)

Players in cricket only: {'Sneha', 'Ruchita', 'Ankita'}

33. take a sentence as input and print all the unique words using a set.

In [40]:
sentence = "Data science is an interdisciplinary field"

unique_words = set(sentence.split())
print("Unique words in the sentence:", unique_words)

Unique words in the sentence: {'science', 'field', 'interdisciplinary', 'an', 'Data', 'is'}

34. WAP to check if two sets are equal (ignoring order).

In [ ]:
set1= {1, 2, 3, 4, 5}
set2= {4, 5, 6, 7, 8}

if set1 == set2:
    print("The sets are equal")     
else:
    print("The sets are not equal")

The sets are not equal

35. create two sets and check if they have at least one element in common (hint: use intersection).

In [42]:
set3= {10,20,30,40,50}
set4= {60,80,30,40,100}

common_elements= set3.intersection(set4)
print("Common elements between set3 and set4:", common_elements)

Common elements between set3 and set4: {40, 30}

36. create a dict of 5 countries and their capitals. print it, Access the capital of "India" from the dict, Add a new key value pair "japan":"tokyo" to the dict, Update the capital of USA from "Washington" to "New York", Delete the key "France" using del.

In [49]:
dict= {"India": "New Delhi", "USA": "Washington, D.C.", "France": "Paris"}
print("Capital of India is:", dict)
print("Capital of USA is:", dict["USA"])


dict["Japan"] = "Tokyo"
print("Updated dictionary:", dict)

dict.update({"USA": "New York"})
print("Dictionary after updating USA's capital:", dict)

del dict["France"]
print("Dictionary after deleting France:", dict)

Capital of India is: {'India': 'New Delhi', 'USA': 'Washington, D.C.', 'France': 'Paris'}
Capital of USA is: Washington, D.C.
Updated dictionary: {'India': 'New Delhi', 'USA': 'Washington, D.C.', 'France': 'Paris', 'Japan': 'Tokyo'}
Dictionary after updating USA's capital: {'India': 'New Delhi', 'USA': 'New York', 'France': 'Paris', 'Japan': 'Tokyo'}
Dictionary after deleting France: {'India': 'New Delhi', 'USA': 'New York', 'Japan': 'Tokyo'}

37. create a dict of students and marks. Use .keys() to print all students name, Use .values() to print all marks, Use .item() to print all key value pairs, Use .get() to access the value of "Rahul" safely (if not found, return "Not Found"), Use .update() to add multiple key value pairs in one step.
Use .pop() to remove "Germany" from the dict, Try Popping a non-existing key using .pop() with a default value, Use .clear() to remove all elements from the dict.

In [61]:
students = {"Ankita":96, "Rohan":85, "Sanchit":92, "Aamin":88}
print("Keys:", students.keys())
print("Values:", students.values()) 
print("Items:", students.items())

# students.get("Rohan")
print("Rohan's marks:", students["Rohan"])

students.update({"Rohan": 90, "Ankita": 98})
print("Updated Rohan's marks:", students["Rohan"])
print("Updated Ankita's marks:", students["Ankita"])


students.pop("Aamin")
print("Dictionary after removing Aamin:", students) 

students.clear()
print("Dictionary after clearing all items:", students)

removed_value = students.pop("Ruchita", "Key not found")

print("Result of pop:", removed_value)
print("Dictionary after pop:", students)

Keys: dict_keys(['Ankita', 'Rohan', 'Sanchit', 'Aamin'])
Values: dict_values([96, 85, 92, 88])
Items: dict_items([('Ankita', 96), ('Rohan', 85), ('Sanchit', 92), ('Aamin', 88)])
Rohan's marks: 85
Updated Rohan's marks: 90
Updated Ankita's marks: 98
Dictionary after removing Aamin: {'Ankita': 98, 'Rohan': 90, 'Sanchit': 92}
Dictionary after clearing all items: {}
Result of pop: Key not found
Dictionary after pop: {}

38. write a function that prints "hello", world

In [1]:
def self():
    print("hello, world")
self()

hello, world

39. write a function that takes a name as input and print "hello", <name>

In [5]:
def input_name(name):
    print(f"hello, {name}")
input_name("Ankita")

hello, Ankita

40. write a function that takes two numbers and print their sum.

In [8]:
def add(a,b):
    print (a+b)
add(4,5)

9

41. write a function that returns the square of a number.

In [1]:
def square (num):
    return num * num
result= square(6)
print(result)

36

42. write a function to check if a number is even or odd.

In [3]:
def check_even_odd(num):
    if num %2 == 0:
        return "Even"
    else:
        return "odd"
result= check_even_odd(8)
print("The result: ", result)

The result:  Even

43. write a function that takes two numbers and returns their maximum.

In [4]:
def check_number(a,b):
    if a>b:
        return "maximum"
    else:
        return "minimum"
result= check_number(8,6)
print(result)

maximum

44. writa a function that takes a list of numbers and returns their average.

In [6]:
def average(numbers):
    return sum(numbers)/ len(numbers)
num= [34,67,12,54,67]
avg= average(num)
print("average:", avg)

average: 46.8

45. write a function that counts vowel in a string.

In [11]:
def count_vowels(text):
    vowel= "aeiouAEIOU"
    count=0
    for v in vowel:
        count += len(text.split(v))-1
    return count
sample_text= "Hello, welcome to the coding world."
vowel_count= count_vowels(sample_text)
print("Number of vowels:", vowel_count)

Number of vowels: 10

46. Write a function that calculates factorial of a number (using loop).

In [13]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
result= factorial(10)    
print("Factorial:", result)

Factorial: 3628800

47. Write a function to check if a string is a palindrome.

In [17]:
def is_palindrome(text):
    return text == text[::-1]
print("Is palindrome:", is_palindrome("radar"))

Is palindrome: True

48. Write a function that calculates simple interest (default rate = 5%).

In [18]:
def simple_interest(principal, rate, time):
    return (principal * rate * time) / 100
print("Simple Interest:", simple_interest(1000, 5, 3))

Simple Interest: 150.0

49. Write a function that takes a name and age and prints them (use keyword arguments).

In [19]:
def print_details(name, age):
    print(f"name: {name}, age: {age}")
print_details("Ankita", 21)

name: Ankita, age: 21

50. Write a recursive function to calculate factorial.

In [20]:
def factorial(n):
    if n==0 or n ==1:
        return 1
    else:
        return n * factorial(n - 1)
num=5
fact = factorial(num)
print("factorial", fact)

factorial 120

51. Write a recursive function to print Fibonacci series up to n terms.

In [24]:
def fibonacci(n):
    a=0
    b=1
    print(a)
    print(b)
    for i in range(2,9):
        c= a + b
        print(c)
        a=b
        b=c
fibonacci(9)

0
1
1
2
3
5
8
13
21

52. Write a function that takes a list of numbers and returns the largest element

In [25]:
def largest_number(a, b):
    if a >= b:
        return a
    else:
        return b
result= largest_number(45, 78)
print("Largest number is:", result)

Largest number is: 78

53. Write a function that takes a dictionary and prints all key-value pairs.

In [26]:
def print_dict(d):
    for key, value in d.items():
        print(f"{key}: {value}")    
sample_dict= {"name": "Ankita", "age": 21, "city": "New York"}
print_dict(sample_dict)

name: Ankita
age: 21
city: New York

54. Write a function that takes a set and returns its length.

In [27]:
def set_length(s):
    return len(s)
sample_set= {"Ankita", "Sanchit", "Rohan", "Sneha"}
length= set_length(sample_set)
print("Set length:", length)

Set length: 4

55. Write a function that takes a list of dictionaries (students with marks) and returns the
topperâ€™s name.

In [28]:
def find_topper(students):
    if not students:
        return None  # handle empty list
    topper = students[0]
    for student in students:
        if student["marks"] > topper["marks"]:
            topper = student
    return topper["name"]
students = [
    {"name": "Ankita", "marks": 85},
    {"name": "Sneha", "marks": 92},
    {"name": "Priya", "marks": 88}]
topper_name = find_topper(students)
print("Topper:", topper_name)

Topper: Sneha